# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.assignment2.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Conno\Documents\CWEB-1112\assignment2\.idea\.idea.assignment2.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
